# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Visual Studio solution files always CRLF
*.sln text eol=crlf
*.csproj text eol=crlf

# C# files always LF
*.cs text eol=lf diff=csharp

# Config files always LF
*.json text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf 